
body{
  margin:0px;
  padding:0px;
  font-family: "Poppins" !important;
}

.nav{
background-color:#34c94b;
padding:8px; 
display: flex;
justify-content: space-between;
}

.searchbar{
  width: 92%;
}
nav form.searchbar{
    border:0px !important;
}

.nav form{border:1px solid #121212;border-radius: 4px;}

.nav button{
  color:#34c94b; margin: 7px 0px 0px 0px;   font-family: "Poppins"
}
.nav button:hover{
  cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
